.cabinet-content {
	&__form {
		border: 1px solid #00000040;
		padding: 20px;
		border-radius: 4px;
	}

	&__challenge {

		&-open {
		position: absolute;
	    top: 52px;
	    right: 22px;
	    left: auto;
        width: 250px;
	    background-color: #ffffff;
	    z-index: 9;
	    border: 1px solid #6c757d;
	    padding: 0.5rem;
	    border-radius: 5px;
		}


		&-input-wrapper {
			margin-left: 0.5rem;
		    margin-right: 0.5rem;
		    margin-top: 0.5rem;;
		    width: 220px;
		}
	}
}
