.cabinet-content {
	&__form {
		border: 1px solid #00000040;
		padding: 20px;
		border-radius: 4px;
	}

	&__challenge {

		&-open {
		position: absolute;
	    transform: translate3d(997px, 55px, 0px);
	    top: 0px;
	    left: 0px;
	    will-change: transform;
		}

		&-input-wrapper {
			margin-left: 1rem;
		    margin-right: 1rem;
		    margin-top: 1rem;
		    width: 220px;
		}
	}
}



