.card-item {
	display:inline-block;
	width:100%;
	box-shadow: rgba(0,0,0,0.4) 1px 1px 3px 0px;
	border-radius: 3px;
	background: #fff;
	border: 0;
	margin-bottom:30px;}

.card-item .panel-heading {font-size: 20px;color: #000;overflow: inherit;line-height: normal;}

.card-blocks{columns:2; column-gap:30px; margin: 1.75rem auto;}

.card-blocks:after{content:'';display:block;height:50px;}

.card-head span{display:inline-block; padding:15px; background:#333;color:#fff; padding:0 5px; cursor:pointer;}

.card-body{transition:all 0.4s; padding-top:0;padding-bottom:0;}

.card-body:before,.card-body:after{content:'';display:block;height:15px;}


.card-head span::before{content:"\e113";float: right; font-family: 'Glyphicons Halflings'; transition:all 0.4s;}

.collapsed .card-head span::before  {transform:rotate(-180deg);}

.card {
	&__edit {
		color: #212529;
		&:hover {
			color: #212529 !important;
		}
	}
}