.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #17a2b8;
    color: #ffffff;
    border-radius: 5px;
    margin-left: -16px;
}

input[type="file"] {
    display: none;
}

