.header {
  background-color: $mainGreen;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  border-bottom: 5px solid #3abeb1;
  height: 70px;
	
  &__brand {
	color: #ffffff;
  	font-size: 1.125rem;
  	font-family: 'Open Sans', sans-serif;
  	font-weight: 300;

  	&:hover {
  		color: #ffffff;
  	}
  }

  &__link {
		color: #fff;
		font-size: 1rem;
  		font-family: 'Open Sans', sans-serif;
  		font-weight: 300;
  		&:hover {
  			color: #fff;
  		}
	}

	&__form {
		border-radius: 10px;
		height: 30px;
		width: 200px;
    margin-left: 100px;
	}

	&__find {
		
    	width: 30px;
    	height: 30px;
    	border-radius: 48px;

    	&__icon {
    		border-top-right-radius: 10px !important;
    		border-bottom-right-radius: 10px !important;
    	}
	}
}


